<div class="container">
    <form [formGroup]="tokenForm" (ngSubmit)="onSubmit()" class="form">
        <img src="./logo.svg" alt="Logo Qxm" height="60">
        <small class="legend">To use this module, you need to have a backend implementation and the appropriate access credentials.</small>
        <textarea formControlName="token" type="text" placeholder="Enter the generated token" minlength="100" required></textarea>
        <button type="submit" [disabled]="!tokenForm.valid">Load form</button>
    </form>
</div>
<div class="content-iframe">
    <iframe id="iframeTestModule" height="500" width="100%" style="margin:20px 0;padding:0 20px"></iframe>
</div>